@tailwind base;
@tailwind components;
@tailwind utilities;

[data-loading] {
    display: none;
}

@layer base {
    @font-face {
        font-family: 'Oxanium';
        font-weight: 200;
        font-display: swap;
        src: url(/static/fonts/Oxanium-ExtraLight.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Oxanium';
        font-weight: 300;
        font-display: swap;
        src: url(/static/fonts/Oxanium-Light.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Oxanium';
        font-weight: 400;
        font-display: swap;
        src: url(/static/fonts/Oxanium-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Oxanium';
        font-weight: 500;
        font-display: swap;
        src: url(/static/fonts/Oxanium-Medium.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Oxanium';
        font-weight: 600;
        font-display: swap;
        src: url(/static/fonts/Oxanium-SemiBold.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Oxanium';
        font-weight: 700;
        font-display: swap;
        src: url(/static/fonts/Oxanium-Bold.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Oxanium';
        font-weight: 800;
        font-display: swap;
        src: url(/static/fonts/Oxanium-Extra.ttf) format('truetype');
    }
    @font-face {
        font-family: 'MaterialIcons';
        font-style: normal;
        src: url(../fonts/MaterialSymbolsRounded.ttf) format('truetype');
    }

    .material-icons {
        @apply select-none;
        font-family: 'MaterialIcons';
        font-weight: 300;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
    }

    h1, h2, h3, h4 {
        @apply font-sans tracking-wide text-gray-900 dark:text-gray-100 sm:tracking-tight leading-loose;
    }
    h1 {
        @apply text-2xl font-black select-none;
    }
    h2 {
        @apply text-lg font-black;
    }
    h3 {
        @apply text-base font-black;
    }
    h4 {
        @apply text-base font-medium text-gray-900 dark:text-gray-100;
    }

    p {
        @apply font-sans text-gray-900 dark:text-gray-100
    }

    input {
        --tw-ring-shadow: 0 0 #000 !important;
    }

    .tooltip {
        @apply opacity-0 absolute;
    }
    .has_tooltip:hover + .tooltip {
        @apply transition-opacity opacity-100;
    }

    /* code highlighted textarea */
    .codeTextarea, .codePre {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 32px);
        overflow: auto;
        white-space: nowrap;
        border: 0;
    }

    .codeTextarea, .codePre, .codePre * {
        font-size: 0.875rem !important;
        font-family: monospace;
        line-height: 1.25rem;
        tab-size: 2;
    }

    .codeTextarea {
        z-index: 1;
        color: transparent;
        background: transparent;
        caret-color: orange;
        resize: none;
    }
}

@layer components {
    .bodytext {
        @apply !text-sm font-light text-gray-900 dark:text-white;
    }
    .bodytext_bold {
        @apply !text-sm font-semibold text-gray-900 dark:text-gray-100;
    }

    .text_primary {
        @apply text-gray-900 dark:text-white;
    }
    .text_primary_inverse {
        @apply text-white dark:text-gray-900;
    }
    .text_secondary {
        @apply text-gray-400 dark:text-gray-500;
    }
    .text_secondary_inverse {
        @apply text-gray-500 dark:text-gray-400;
    }
    .text_bright {
        @apply text-white;
    }
    .text_dark {
        @apply text-gray-900;
    }

    .background_primary {
        @apply bg-white dark:bg-gray-800;
    }
    .background_primary_inverse {
        @apply bg-gray-800 dark:bg-white;
    }
    .background_secondary {
        @apply bg-gray-200 dark:bg-gray-700;
    }
    .background_secondary_inverse {
        @apply bg-gray-700 dark:bg-gray-200;
    }
    .background_bright {
        @apply bg-white;
    }
    .background_dark {
        @apply bg-gray-800;
    }

    .border_primary {
        @apply border-indigo-500 dark:border-gray-400;
    }
    .border_secondary {
        @apply border-gray-100 dark:border-gray-600;
    }

    .divider_primary {
        @apply divide-indigo-500 dark:divide-gray-400;
    }
    .divider_secondary {
        @apply divide-gray-100 dark:divide-gray-600;
    }

    .card {
        @apply w-full flex flex-col p-8 shadow-sm rounded-lg;
    }
    .input_border {
        @apply w-full rounded-lg border border-gray-200 bg-white dark:bg-gray-800;
    }
    .input_focus {
        @apply rounded-lg focus:outline-none focus:border-2 focus:bg-[#130D1D];
    }

    .button_hover_primary {
        @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-900 hover:bg-indigo-200 dark:text-white hover:dark:bg-indigo-500 disabled:bg-gray-300 disabled:text-gray-500 disabled:dark:bg-gray-500 disabled:dark:text-gray-300
    }
    .button_hover_red {
        @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 text-red-700 hover:bg-red-200 dark:text-red-400 hover:dark:bg-red-500 hover:dark:text-white disabled:bg-gray-300 disabled:text-gray-500 disabled:dark:bg-gray-500 disabled:dark:text-gray-300
    }
    .button_primary {
        @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-sm bg-[#130D1D] text-white hover:bg-indigo-500 disabled:bg-gray-300 disabled:text-gray-500 disabled:dark:bg-gray-500 disabled:dark:text-gray-300
    }
.button_primary_inverse {
        @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-sm bg-white text-indigo-700 hover:bg-indigo-200 disabled:bg-gray-300 disabled:text-gray-500 disabled:dark:bg-gray-500 disabled:dark:text-gray-300
    }
    .button_red {
        @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-sm bg-red-500 text-white hover:bg-red-400 disabled:bg-gray-300 disabled:text-gray-500 disabled:dark:bg-gray-500 disabled:dark:text-gray-300
    }
    .button_outline {
        @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-sm text-gray-900 dark:text-white border border-indigo-700 hover:bg-indigo-700 hover:text-white disabled:bg-gray-500 disabled:text-gray-300 disabled:dark:bg-gray-500 disabled:dark:text-gray-300
    }

    .base_button {
        @apply inline-flex items-center justify-center rounded-lg px-2 py-1 text-sm font-normal cursor-pointer disabled:cursor-default;
    }
    .base_button_lg {
        @apply inline-flex items-center justify-center rounded-lg px-4 py-2 text-sm font-semibold cursor-pointer disabled:cursor-default;
    }

    .default_size_base_button {
        @apply min-w-40 min-h-10
    }

    /* documentation */
    .article_topic {
        @apply text-gray-600;
    }
    .article_title {
        @apply tracking-tight mt-2 mb-16 text-6xl font-bold text-indigo-700;
    }  
}